:root{
    --primary-color: #B1D1C8;
    --primary-color-dark: #8FB8A2; /* Darker shade of primary color */
    --primary-color-light: #D9E6E0; /* Lighter shade of primary color */
    --secondary-color: #e65c3b;
    --text-color: #fff;
}

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

nav{
    background-color: var(--primary-color-dark); /* Darker shade of primary color */
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    font-size: 1.25rem;
    font-weight:400;
}

nav ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 20px;
    color: #fff;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    padding: 15px 20px;
}

nav ul li a:hover{
    text-decoration: underline;
    background-color: var(--primary-color);
}

.button-main{
    background-color: var(--secondary-color);
    color: #fff;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    text-align: center;
}

.logo{
    height: 50px;
}

aside{
    display: none;
}

aside ul{
    display: none;
}

/* sub menu */
.main-sub-menu {
    display: none;
    position: absolute;
    background-color: var(--primary-color);
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

 nav li:hover .main-sub-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
}

.main-sub-menu a {
    padding: 5px 10px;
    color: #fff;
    transition: 200ms;
}

.main-sub-menu a:hover {
    transform: translateX(10px);
    text-decoration: none;
    transition: 200ms;
    color: #fff;
}